.container{
	text-align: center;
	margin-top: 23px;
}
h1{
	font-family: 'Permanent Marker', cursive;
	color: red;
	letter-spacing: 8px;
}
table{
	margin: auto;
}
input{
	font-size: 30px;
    width: 22rem;
    height: 3rem;
    border: 2px solid lightblue;
    border-radius: 5px;
}
button{
	font-size: 38px;
    background: lightblue;
    width: 86px;
    height: 58px;
    cursor: pointer;
	opacity: 0.8;

}
button:hover{
	opacity: 1;
}
.calculator{
	    display: inline-block;
    padding: 10px;
    background: orange;
    border-radius: 14px;
}